<!DOCTYPE html>
<html>
<head>
<meta  charset = "utf-8">
  <title>hotel management</title>
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
   <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Book a Hotel</h1>
      <p></p>
      <form id="registrar">
        <input type="text" name="name" placeholder="Search Hotels">
        <button type="submit" name="submit" value="submit">Submit</button>
      </form>
      <ul>
        <% for(var i = 0;i < hotels.length;i++){ %>

          <li><a href = "" id="LinkToHotels"><%= hotels[i].hotel%></a></li>
        
        <% } %>
      </ul>
    </header>
		
    <div class="main">	
      <h2>&copy; Suraj Patwari</h2>
      <ul id="invitedList"></ul>	
    </div>
  </div>
  <script type = "text/javascript" src = "js/app.js">
</script>
</body>
</html>
